<!DOCTYPE html>
<html>
  <head>
    <title>Menu | <%= restaurant.name %></title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Menu for <%= restaurant.name %></h1>
    <ul>
      <% restaurant.menu.forEach(item => { %>
        <li>
          <strong><%= item.name %></strong> - $<%= item.price.toFixed(2) %><br />
          <em><%= item.details %></em><br />
          Category: <%= item.category %> | Rating: <%= item.rating %>/5
        </li>
      <% }) %>
    </ul>
  </body>
</html>
